/**
* IntegralCF Regular
* IntegralCF RegularOblique
* IntegralCF Medium
* IntegralCF MediumOblique
* IntegralCF Bold
* IntegralCF BoldOblique
* IntegralCF Heavy
* IntegralCF HeavyOblique
* IntegralCF ExtraBold
* IntegralCF ExtraBoldOblique
* IntegralCF DemiBold
* IntegralCF DemiBoldOblique
*/
@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/integralcf-regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/integralcf-regularoblique.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/integralcf-medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/integralcf-mediumoblique.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/integralcf-bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/integralcf-boldoblique.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/integralcf-heavy.otf") format("opentype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/integralcf-heavyoblique.otf") format("opentype");
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/integralcf-extrabold.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/integralcf-extraboldoblique.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/integralcf-demibold.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/integralcf-demiboldoblique.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
